<ion-header>
  <ion-toolbar>
    <ion-title>Select Symbol</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar 
        [(ngModel)]="searchTerm" 
        (ionInput)="onSearch($event)" 
        placeholder="Search symbol...">
    </ion-searchbar>

    <ion-list *ngIf="!loading">
    <ion-item 
        *ngFor="let s of filtered" 
        button
        (click)="selectSymbol(s)">
        {{ s.display }}
    </ion-item>
    </ion-list>

    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
</ion-content>
